html {
  background-color: #b5d2fe;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main_title {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 450px;
  height: 70px;
  font-size: 50px;
  font-family: 'Slackey', cursive;
  color: #fff;
  text-shadow: #444 1px 1px 2px;
  margin-bottom: 30px;
}

