body {
  background: #47d9ff;
background: -webkit-linear-gradient(25deg, #47d9ff 0%, #0055ff 50%, #2200ff 100%);
background: linear-gradient(25deg, #47d9ff 0%, #0055ff 50%, #2200ff 100%);
 
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main_title {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 450px;
  height: 70px;
  font-size: 50px;
  font-family: Georgia, 'Times New Roman', Times, sans-serif;
  background-color: white;
  margin-bottom: 50px;
}